.card {
  background: #fff;
  border-radius: 12px;
  padding: 20px 60px;
  margin: 20px 40px;

  box-shadow: 2px 2px 6px rgb(207, 204, 204);
  min-height: 150px;
}

.card:hover {
  background: #fff;

  box-shadow: 2px 3px 12px rgb(207, 204, 204);
}

.card .card__name {
  font-family: fantasy;
  font-size: 22px;

  font-weight: 500;
  color: #111;
}

.card .card__price {
  font-size: large;
  font-weight: 400;
  color: #111;
}

.card__button {
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 30px;
}
